#submittd {
    text-align: center;
    padding-bottom: 30px;
}
td {
    border: none;
}
.leftColoumn {
    padding-left: 30px;
}
table{
    padding-top: 30px;
    margin: auto;
    margin-top: 3%;
    background: linear-gradient(-45deg, #3425AF, #C56CD6);
    border-radius: 25px;
    box-shadow:2px 2px 5px rgba(111, 103, 175, 0.582); 
}
body {
    height: 100vh;
    color: white;
    font-family: Helvetica;
    background: linear-gradient(rgb(255, 255, 255), rgb(242, 227, 255))
}

#name, #email, #dob, #password, #username, #mobile {
    width: 100%;
    background-color: white;
}
.rightColoumn {
    padding-right: 50px;
}
input {
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
#marital {
    width: 107%;
    padding: 10px;
    padding-right: 30px;
    border: none;
    border-radius: 20px;
    margin-right: 100%;
}
#submit, #reset {
    padding: 10px;
    background: linear-gradient(90deg, rgb(199, 102, 255), white);
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(139, 0, 69);
    font-weight: bold;
    font-size: 15px;
}
#gender {
    border: none;
    background-color: white;
}