#yellow {
    background-color: yellow;
}
#lightgreen {
    background-color: lightgreen;
}
#maroon {
    background-color: maroon;
}
#darkred {
    background-color: darkred;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#ram {
    background-color: #3f46cc;
}
a {
    text-decoration: none; 
    color: black;
}